# Firebase 설정
VITE_FIREBASE_API_KEY="your-api-key"
VITE_FIREBASE_AUTH_DOMAIN="your-project-id.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="your-project-id"
VITE_FIREBASE_STORAGE_BUCKET="your-project-id.appspot.com"
VITE_FIREBASE_MESSAGING_SENDER_ID="your-sender-id"
VITE_FIREBASE_APP_ID="your-app-id"

# 카카오 알림톡 설정
VITE_KAKAO_API_KEY="your-kakao-api-key"
VITE_KAKAO_SENDER_KEY="your-kakao-sender-key"
VITE_KAKAO_TEMPLATE_CODE="your-kakao-template-code"

# TinyMCE API 키 설정
VITE_TINYMCE_API_KEY="your-tinymce-api-key" 